body {
    margin: 0;
    font-family: ;
    background-color: aliceblue;
    font-size: 22px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    height: 64px;
    width: 100%;
    position: fixed;
    align-items: center;
}

a {
    color: black;
}