@import url('https://fonts.googleapis.com/css?family=Oxygen|Rufina');

/*
#003249
#007EA7
#80CED7
#9AD1D4
#CCDBDC
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Oxygen", sans-serif;
  background-color: #CCDBDC;
}

.rufina {
  font-family: "Rufina", serif;
  font-size: 1.5rem;
}

.oxygen {
  font-family: "Oxygen", sans-serif;
}

a {
  color: #003249;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 2px solid #003249;
}

.holder-logo {
  display: flex;
}

.logo1 {
  text-transform: uppercase;
  font-weight: bold;
}

.logo2 {
  text-transform: uppercase;
}

#desktop {
  display: block;
}

#desktop a {
  margin-left: 16px;
}

#mobile {
  display: none;
}

#Learn {
  background-color: honeydew;
  padding: 32px 24px;
  display: flex;
}

#Learn h1 {
  font-family: "Rufina", serif;
  font-size: 32px;
  line-height: 2rem;
}

#Learn h2 {
  font-size: 1rem;
  margin: 32px 0 24px 0;
}

button {
  background-color: darksalmon;
  color: darkcyan;
  border: 0;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  padding: 8px 0;
  border: 2px solid gainsboro;
}

.holder-img-header {
  width: 60%;
  height: auto;
}

.img-header {
  width: 100%;
  height: auto;
}

.holder-text {
  display: flex;
  flex-flow: wrap column;
  margin-left: 40px;
  justify-content: center;
}

#practice {
  display: flex;
}